:root {
--mustard: #fbd743ff;
--red-ryb: #ff1f1fff;
--blue-jeans: #5cb9ffff;
--dark-slate-blue: #363a81ff;
--platinum: #e7e7e7ff;
}

body {
  background-color: var(--platinum);
  margin: 0;
}

.header-img {
  width: 400px;
}


header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-slate-blue);
  color: var(--platinum);
}

#time-name {
  padding: 12px 20px;
}

#aside {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  width: 300px;
  margin-left: 150px;
  font-size: 25px;
}

.card-pokemon {
  width: 150px;
  height: 200px;
  margin-right: 40px;
  background-color: var(--mustard);
  transition: 500ms;
  border-radius: 5px;
}

.card-pokemon:hover {
  box-shadow: 5px 5px 15px -1px rgba(197, 197, 197, 0.46);
  width: 160px;
  height: 210px;
  cursor: pointer;
}

#time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 200px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-img {
  width: 450px;
}

.buttons {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 32px;
  border: none;
  background-color: var(--mustard);
  color: var(--dark-slate-blue);
  transition: 500ms;
}

.buttons:hover {
  border: 1px solid var(--platinum);
  background-color: var(--platinum);
}