@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
--mustard: #fbd743ff;
--red-ryb: #ff1f1fff;
--blue-jeans: #5cb9ffff;
--dark-slate-blue: #363a81ff;
--platinum: #e7e7e7ff;
}

body {
  background-color: var(--platinum);
  margin: 0;
}

.header-img {
  width: 400px;
}


header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-slate-blue);
  color: var(--platinum);
}

#time-name {
  padding: 12px 20px;
  margin-top: 5px;
  width: 250px;
  border: 2px solid black;
  border-radius: 50px;
}

#type {
  list-style: none;
}

#aside {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  width: 300px;
  margin-left: 150px;
  font-size: 25px;
  font-family: 'Luxurious Roman', cursive;
}

aside label {
  font-size: 18px;
  font-family: 'Permanent Marker', cursive;
}

#team-data {
  border: 2px solid black;
  border-radius: 10px;
  color: var(--dark-slate-blue);
  font-weight: bolder;
  width: 250px;
  height: 180px;
  font-size: 14px;
  padding: 10px;
  background-color: var(--mustard);
}

.card-pokemon {
  width: 150px;
  height: 200px;
  margin-right: 40px;
  background-color: var(--mustard);
  transition: 500ms;
  border-radius: 5px;
}

.card-pokemon:hover {
  box-shadow: 5px 5px 15px -1px rgba(197, 197, 197, 0.46);
  width: 160px;
  height: 210px;
  cursor: pointer;
}

#time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 200px;
}

#name-team {
  align-self: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-img {
  width: 450px;
}

.question {
  width: 150px;
  transition: 500ms;
}

.question:hover {
  width: 160px;
}

.buttons {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  background-color: var(--mustard);
  color: var(--dark-slate-blue);
  transition: 500ms;
  font-weight: bolder;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 50px;
}

.buttons:hover {
  border: 1px solid var(--platinum);
  background-color: var(--platinum);
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}